body{
    background-color: rgb(255, 255, 255);
    color: #0008ff;
    font-size: 30px;
}
h1{
    color: rgb(255, 255, 255);
    text-align: center;
}
p{
    color: rgb(255, 255, 255);
    text-align: left;
}
h2{
    text-align: right;
}
header{
    height: 200px; 
    background-color: #41C3F2;
}
nav{
    height:150px ;
    background-color:#4153F2;
    display: flex;
}
main{
    height:500px ;
    background-color:#418BF2;
}
footer{
    height: 100px;
    background-color:#E1E9F4; 
}
a{
    border:2px solid rgb(64, 64, 64);
    border-radius:20px;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    padding:10px;
    margin: 20px;
}